*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  transition: background-color var(--transition),
              color var(--transition);
}

a {
  color: var(--accent);
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}